<h1 mat-dialog-title>Choose an expiration date</h1>
<div mat-dialog-content>
  <form [formGroup]="acceptRequestForm" (ngSubmit)="onSubmit()">
    <div class="mb-3"> 
      <span class="example-element-info-title">From:</span>
      <input id="fromDate" type="date" class="form-control" formControlName="fromDate">
      <div *ngIf="fromDate?.invalid && (fromDate?.dirty || fromDate?.touched)" class="alert alert-danger">
          <div *ngIf="fromDate?.errors?.['required']">
            This field is required.
          </div>
      </div>
    </div>
    <div class="mb-3"> 
      <span class="example-element-info-title">To:</span>
      <input id="toDate" type="date" class="form-control" formControlName="toDate">
      <div *ngIf="toDate?.invalid && (toDate?.dirty || toDate?.touched)" class="alert alert-danger">
          <div *ngIf="toDate?.errors?.['required']">
            This field is required.
          </div>
      </div>
    </div>
  
    <div class="text-center">
        <button type="submit" class="btn btn-primary col-5" [disabled]="!acceptRequestForm.valid">Accept</button>
    </div>
  </form>
</div>