<div>
    <h3>Borrowing Equipments</h3>
    <table class="table table-bordered mt-4">
        <thead class="table-warning text-center">
          <tr>
            <th scope="col">Equipment Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Expired</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laptop ASUS</td>
            <td>ASUS</td>
            <td>Computer</td>
            <td>100$</td>
            <td>In-use</td>
            <td>01/04/2023</td>
          </tr>
          <tr>
            <td>Laptop ASUS</td>
            <td>ASUS</td>
            <td>Computer</td>
            <td>100$</td>
            <td>In-use</td>
            <td>01/04/2023</td>
          </tr>
          <tr>
            <td>Laptop ASUS</td>
            <td>ASUS</td>
            <td>Computer</td>
            <td>100$</td>
            <td>In-use</td>
            <td>01/04/2023</td>
          </tr>
        </tbody>
    </table>
</div>